/* Banniere */

.banniere {
    height: 5vh;
    text-align: center;
}

li {
    list-style:none;
    display: inline;
    padding: 0 20px 0 20px;
}

.logo {
    margin-bottom: 2.5vh; margin-top: 2.5vh ;height: 90px
}

.navbarre {
    position: absolute;
    margin-top: 3vh;
    top:10vh;
    margin-left: 10vw;
    width: 80vw;
    height: 38px;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
}

.btn_user {
    font-size: 20px;
}
.user{
    margin-top: 3.5vh
}
/* Contenus */


.img:hover {
    opacity: 0.2;
    transition: 1s;
}
.img {
    opacity: 0;
    width: 100%;
    transition: 1s;
}

.hover_1 {
    background-color: #B8191A;
}

.hover_2 {
    background-color: #77CED7;
}

.hover_3 {
    background-color: #C9C9C9;
}

.header {
    height: 20vh;
}
.rubrique{
    margin-top:50vh;
    text-align: center;
}

.description {
    text-align: center;
    min-height: 45vh;
    margin-left: 20px;
}

.player {
    margin-right: 20px;
    min-height: 45vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.player_img {
    margin:0 50% 0 50%;
    transform: translate(-50%, 120%);
}

.tuile {
    padding: 0;
    top: 50%;
    transform: translatey(-50%);
}

.p_tuile {
    font-family:'Oswald', sans-serif;
    font-size: 30px;
}

.h2_tuile {
    font-family:'Oswald', sans-serif;
    font-size: 4vw;
}

.toto {
    position: relative;
    height: 80vh;
    background-image: url(../images/Getty.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.tuiletxt {
    z-index: 1;
    position: absolute;
    top: 30%;
    margin-left: 50%;
    transform: translatex(-50%);
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* .footer{
    margin-top: 100px;
} */

.adpt_margin{
    margin-top: -120px;
}

.container_content {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    padding: 50px;
}


/* CHAT*/

.conversation-wrap
{
    padding:0;
    max-height: 400px;
    overflow: auto;
}
.conversation
{
    padding:5px;
    margin:0;

}

.message-wrap
{

    padding:0;

}
.msg
{
    padding:5px;
    /*border-bottom:1px solid #ddd;*/
    margin:0;
}
.msg-wrap
{
    padding:10px;
    max-height: 400px;
    overflow: auto;

}

.time
{
    color:#bfbfbf;
}

.send-wrap
{
    padding:10px;
    /*background: #f8f8f8;*/
}

.send-message
{
    resize: none;
}


.send-message-btn
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    border-bottom-right-radius: 0;
}
.btn-panel
{
    background: #f7f7f9;
}

.btn-panel .btn
{
    color:white;

    transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{
    color:#666;
    background: #f8f8f8;
}
.btn-panel .btn:active
{
    background: #f8f8f8;
    box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

    background: #f8f8f8;
}

.msg-wrap .media-heading
{
    color:#003bb3;
    font-weight: 700;
}


.msg-date
{
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
}


body::-webkit-scrollbar {
    width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*        -webkit-border-radius: 10px;
            border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*        -webkit-border-radius: 10px;
            border-radius: 10px;*/
    background:#ddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
}

hr {
    border-top: 2px solid black;
}

/* FOSUSER formulaire */

.form-widget{
    margin-top: 10px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid #77CED7;
    background-color: transparent;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;

}

.form-button{
    margin-top: 10px;
    font-size: 30px;
}

.poop{

    background: url("../images/GettyImages-539620417.jpg") no-repeat ;
    background-size: cover;

    height:70vh;
}

.formulaire{

    padding-top: 11%;
}
.formulaire h1 {
    color: #77CED7;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}

.transparent{
    background-color: RGBA(255, 255, 255, 0.6);
    background-size: cover;
    padding:15px 0 100px 0;
}

#volet {
    z-index: 20;
    width: 400px;
    height: 80vh;
    padding: 0px;
    background: green; color: black;
    position: fixed;
    left: -400px; top: 55px;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
#volet a.ouvrir {
    padding: 10px 25px;
    background: green;
    color: #fff;
    text-decoration: none;
    position: absolute;
    right: -68px;
    top: 45vh;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    border-radius: 0 0 8px 8px;
}

#volet:hover {
    left: 0;
}

.chat{width:400px;height:80vh;box-shadow:0 0 30px -5px grey;;background:#fafafa;position:relative;font-family:'Droid Serif', serif;}
.chat_header{font-family:'Oswald', sans-serif;font-size: 20px; padding:15px;border-bottom:4px solid teal;background:#f0f0f0;color:black}
.chat_status{font-size:11px;margin:4px 0 -4px}
.chat_avatar{float:right;width:42px;border-radius:50%;margin-top:-3px}
.chat_input{position:absolute;bottom:0;width:calc(100% - 8px);padding:10px 4px 6px;background:#c8c8c8}
.chat_text{width:calc(85% - 10px);padding:10px;box-sizing:border-box;margin:0 5px 5px;vertical-align:top;font-family:'Droid Serif', serif;}
.chat_submit{width:calc(15% - 5px);padding:10px;box-sizing:border-box;margin:0 5px 5px 0;vertical-align:top;border:1px solid teal;cursor:pointer;color:black;border-radius:0 8px 8px 0;transition:all .4s}
.chat_submit:hover{background:teal;color:black}
.chat_bubble-1,.chat_bubble-2{padding:10px;margin:13px 17px;width:200px;font-size:14px}
.chat_bubble-1{border:1px solid teal;border-radius:12px 12px 12px 0}
.chat_bubble-2{border:1px solid grey;border-radius:12px 12px 0 12px;margin-left:160px}
.chat_s{max-height:calc(75vh - 86px - 29px);overflow-y:scroll;padding:15px 0 0}
::-webkit-scrollbar{width:13px}
::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 0 4px #fff;background:rgba(0,0,0,0.2)}

.ouvrir {
    font-size: 15px;
}

.tag_chat {
    font-size: 12px;
    float: right;
    transform: translatey(-5px);
}

@media screen and (max-width: 992px) {
    .container_graph{
        margin-top: 30vh;
    }

}