{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <h2>Start-up Name</h2>
    <div class="container_top">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Tk-lFEga9kE" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <p>fdgfsdgfdgsdfg</p>
            </div>
        </div>
    </div>
    <div><canvas style="background-color: black; border-radius: 360px" id="graph"></canvas></div>
    <script src="{{ asset('assets/js/graph.js') }}" type="text/javascript"></script>
{% endblock %}


