{% extends 'layout.html.twig' %}
{% block navbar %}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row rubrique">
            <div class="col-lg-4 tuile">
                <a href="#">
                    <div class="hover_1">
                        <div class="tuiletxt">
                            <p style="font-size: 30px"><i>____ </i> je suis</p>
                            <h2 style="font-size: 4vw">Entreprise</h2>
                        </div>
                        <img class="img img-responsive" src="{{ asset('assets/images/1.jpg') }}" alt="paysage_tuile_2">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 tuile">
                <a href="#">
                    <div class="hover_2">
                        <div class="tuiletxt">
                            <p style="font-size: 30px"><i>____ </i> je suis</p>
                            <h2 style="font-size: 4vw">Startup</h2>
                        </div>
                        <img class="img img-responsive" src="{{ asset('assets/images/2.jpg') }}" alt="paysage_tuile_2">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 tuile">
                <a href="#">
                    <div class="hover_3">
                        <div class="tuiletxt">
                            <p style="font-size: 30px"><i>____ </i> je suis</p>
                            <h2 style="font-size: 4vw">Incubateur</br>Facilitateur</h2>
                        </div>
                        <img class="img img-responsive" src="{{ asset('assets/images/3.jpg') }}" alt="paysage_tuile_2">
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}



