{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row rubrique">
            <div class="col-lg-offset-1 col-lg-5 tuile">
                <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/1137/6324/products/HTB1vBidJpXXXXbqXXXXq6xXFXXXW_grande.jpeg?v=1455588385" alt="paysage_tuile_1">
                    <p class="tuile">Startup</p>
                </a>
            </div>
            <div class="col-lg-5 tuile">
                <a href="#">
                <img src="http://121clicks.com/wp-content/uploads/2012/02/pawel_klarecki_07.jpg" alt="paysage_tuile_2">
                    <p class="tuile">Entreprise</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}



